.jumbotron {
    background-color: darkslategrey;
    color:white ;
    margin-top: 50px;
}
.btn-primary {
    background-color: darkslategrey;
    color:white ;
}
.footer {
    padding: 10px 10px 0px 10px;
    background-color: darkslategrey;
    color:white ;
    margin-top: 10px;
}
.header-text-margin {
    margin: 0px 10px 0px 10px;
}
.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;

}
.footer-icon {
    padding-right: 10px;
}

.banner-container {
    width: 100%;
    height: 325px;
}
